html {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2px solid #333;
}

th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}